#Ignore environment variables
.env

#Ignore the Weblink Folder
/data/

#Ignore the Python Bytecode Files
__pycache__
*.pyc 

#Ignore the Screenshot Folder
/screenshots/


#Ignore the VS Code Workspace Settings
.vscode/

#Ignore the log Folder
/logs/

