#Ignore environment variables
.env

#Ignore the Collected Data Folder
/eventbrite-comedy-scraper/Collected_Data/*

#Ignore the Python Bytecode Files
__pycache__
*.pyc 

#Ignore the VS Code Workspace Settings
.vscode/

#Ignore the logs and screenshot Folder
/eventbrite-comedy-scraper/Logs/*

